fastapi
uvicorn
pydantic
pydantic-settings
email-validator
python-dotenv
langgraph
langchain
langchain-core
langchain-groq
langchain-community
qdrant-client
fastembed
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests