@import "tailwindcss";

@layer base {
  body {
    background-color: #050811;
    color: #e2e8f0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}